.w{
    width: 1200px;
    margin: 0 auto;
}
body{
    /* height: 3000px; */
}
img{
    display: block;
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.header{
    background-color: #ffd001;
    height: 58px;
    padding-left: 70px;
    display: flex;
}
.header .left{
    height: 58px;
    width: 117px;
    line-height: 58px;
}
.center{
    flex: 1;
}
.center ul{
    display: flex;
}
.center ul li{
    flex: 1;
    text-align: center;
    line-height: 58px;
}
.center ul li a{
    color: #421d00;
}
.right{
    width: 100px;
    height: 58px;
    /* background-color: pink; */
    margin-right: 68px;
    line-height: 58px;
}
.right .a1{
    padding-right: 18px;
    border-right: 1px solid #000000;
    color: black;
    font-size: 12px;
}
.right .a2{
    color: black;
    font-size: 12px;
    padding-left: 18px;
}

/* banner */
.banner{
    margin-top: 10px;
}
.banner img{
    width: 100%;
}

/* nav */
.nav ul{
    display: flex;
    justify-content: space-evenly;
    
}
.nav ul li{
    width: 210px;
}
.nav ul li img{
    width: 100%;
    height: 170px;
}
/*  */
.odd{
    margin-top: 10px;
    height: 55px;
    /* background-color: red; */
    line-height: 50px;
    text-align: center;
    margin-bottom: 15px;
}
.odd .sp1{
    color: #3b2c29;
    padding-bottom: 15px;
    
}
.odd .sp1:hover{
    border-bottom: 1px solid #000000;
}
.odd a{
    height: 55px;
}
.odd span{
    margin: 0 30px;
    color: #948f8b;
    
}

/*  */
.last ul{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.last ul li{
    height: 307px;
    width: 210px;
}
.last ul li p{
    font-size: 14px;
    line-height: 20px;
    height: 20px;
    padding-left: 15px;
    color: #303634;
}
/*  */
.footer h3{
    height: 50px;
    line-height: 50px;
    color: #666469;
}
.footer ul{
    display: flex;
    justify-content: space-evenly;
}
.footer ul li{
    width: 210px;
    height: 202px;

}
.footer ul li p{
    line-height: 40px;
    color: #000000;
}

